<template>
  <div id="app">
    <a-input placeholder="Please input a task" class="my_ipt"
      :value="inputValue" @change="handleInputChange" />
    <a-button type="primary" @click="addItemToList">Add</a-button>

    <a-list bordered :dataSource="infoList" class="dt_list">
      <a-list-item slot="renderItem" slot-scope="item">
        <!-- 复选框 -->
        <a-checkbox :checked="item.done"
          @change="(e) => {cbStatusChanged(e, item.id)}">{{item.info}}
        </a-checkbox>
        <!-- 删除链接 -->
        <a slot="actions" @click="removeItemById(item.id)">Delete</a>
      </a-list-item>

      <!-- footer区域 -->
      <div slot="footer" class="footer">
        <!-- 未完成的任务个数 -->
        <span>Rest: {{unDoneLength}}</span>
        <!-- 操作按钮 -->
        <a-button-group>
          <a-button :type="viewKey === 'all' ? 'primary' : 'defailt'"
            @click="changeList('all')">Total</a-button>
          <a-button :type="viewKey === 'doing' ? 'primary' : 'defailt'"
            @click="changeList('doing')">Doing</a-button>
          <a-button :type="viewKey === 'done' ? 'primary' : 'defailt'"
            @click="changeList('done')">Done</a-button>
        </a-button-group>
        <!-- 把已经完成的任务清空 -->
        <a @click="clean">Clear done</a>
      </div>
    </a-list>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'app',
  data () {
    return {
    }
  },
  created () {
    this.$store.dispatch('getList')
  },
  computed: {
    ...mapState(['inputValue', 'viewKey']),
    ...mapGetters(['infoList', 'unDoneLength'])
  },
  methods: {
    handleInputChange (e) {
      // console.log(e.target.value)
      this.$store.commit('setInputValue', e.target.value)
    },
    addItemToList () {
      if (this.inputValue.trim().length <= 0) {
        return this.$message.warning('Input nothing!')
      }

      this.$store.commit('addItem')
    },
    removeItemById (id) {
      // console.log(id)
      this.$store.commit('removeItem', id)
    },
    cbStatusChanged (e, id) {
      // console.log(e.target.checked)
      const params = {
        id: id,
        status: e.target.checked
      }
      this.$store.commit('changeStatus', params)
    },
    clean () {
      this.$store.commit('cleanDone')
    },
    changeList (key) {
      this.$store.commit('changeViewKey', key)
    }
  }
}
</script>

<style scoped>
#app {
  padding: 10px;
}

.my_ipt {
  width: 500px;
  margin-right: 10px;
}

.dt_list {
  width: 500px;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
